# G:\Mi unidad\Developer\HTML
# El repositorio local se encuentra en
# G:\Mi unidad\Developer\HTML\.git
# =============================================================
# Rutas y/o carpetas
# G:\Mi unidad\Developer\HTML
.vscode
# EduardoFierro
# =============================================================
# Archivos
desktop.ini
#.gitignore
